@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Darker Grotesque', sans-serif;
}

body{
    background-color: black;
}

::selection{
    color: black;
    background-color: white;
}

.events a{
    color: #b90e0a;
    cursor: default;
}

.events span{
    color: white;
    text-decoration: double;
    text-shadow: 1px 1px #b90e0a;
}

.current-events, .past-events {
    margin-top: 40px;
}

.current-events-title, .past-events-title {
    box-sizing: border-box;
    border: 0.1rem solid white;
    padding: 5px;
    box-shadow: 3px 3px 5px #cccccce0;
}

.current-events-title, .current-line, .past-events-title, .past-line {
    font-size: 1.6rem;
    font-weight: 500;
}

.current-line, .past-line {
    height: 0px;
    vertical-align: middle;
}

.card-container{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.card{
    position: relative;
    letter-spacing: normal;
    width: 360px;
    height: 390px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px #b90e0a;
    border: 1.5px solid #b90e0a;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    overflow: hidden;
    transition-property: transform,box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    max-height: 1000px;
    filter: drop-shadow(0 0px 0px);
    text-align: left;
}

.card:hover{
    cursor: pointer;
    box-shadow: 6px 6px 7px #b90e0a;
    background-color: #f9fdff;
    transform: translateX(-5px) translateY(-5px) scale(1.05);
    min-height: 390px;
    background-color: black;
    color: white;
}

.card-clicked, .card-clicked:hover{
    position: absolute;
    letter-spacing: normal;
    width: 680px;
    height: 85vh;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px #b90e0a;
    border: 1.5px solid #b90e0a;
    border-radius: 5px;
    cursor: default;
    background-color: black;
    color: white;
    overflow: hidden;
    transition: none;
    transform: none;
    max-height: 1000px;
    z-index: 10;
    filter: drop-shadow(0 0px 0px);
    text-align: left;
    .card-header img {
        width: 100%;
        height: auto;
    }
}

.overlay {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.overlay-clicked {
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.8;
    background-color: #565656;
    filter: blur(12px);
    box-sizing: border-box;
}

.event-title {
    margin: 15px 10px 0;
    font-size: 1.7rem;
    box-sizing: border-box;
}

.event-date {
    margin: 15px 10px 20px;
    font-size: 1.15rem;
    box-sizing: border-box;
}

.event-desc {
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 0 10px 0;
    line-height: 23px;
}

.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}