@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-box {
    position: absolute;
    width: 99.87%;
    height: 25%;
    background-color: black;
    z-index: -1;
    padding-bottom: 30px;
}

::selection{
    color: black;
    background-color: white;
}

.gallery a{
    color: #b90e0a;
    cursor: default;
}
.gallery span{
    color: white;
    text-decoration: double;
    text-shadow: 1px 1px #b90e0a;
}

.event-title {
    box-sizing: border-box;
    border: 0.1rem solid white;
    padding: 5px;
    box-shadow: 3px 3px 5px #cccccce0;
}

.event-title, .event-line {
    font-size: 1.6rem;
}

.event-line {
    height: 0px;
    vertical-align: middle;
}

.events-container {
    position: relative;
    margin-top: 0px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.event-images {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 20px;
}

.event-img {
    position: relative;
    display: inline-flex;
    height: 250px;
    width: auto;
    margin: 10px;
    transition: transform ease-in-out 0.3s;
}

.event-img:hover {
    transform: scale(1.05);
}

.img-clicked,.img-clicked:hover {
    display: block;
    position: absolute;
    top: -15vi;
    height: 75vh;
    width: auto;
    margin: auto;
    z-index: 10;
    transition: none;
    transform: none;
}

.overlay {
    position: relative;
    gap: 50px;
    row-gap: 20px;
    min-height: 130%;
}

.overlay-clicked {
    position: absolute;
    cursor: pointer;
    margin: 0;
    width: 99.87%;
    height: 130%;
    min-height: 130%;
    z-index: 10;
    opacity: 0.8;
    background-color: #565656;
    filter: blur(12px);
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-wall { 
    background-image: url(gallery\ wall\ new.gif); 
    background-size: cover; 
    background-repeat: repeat-y;
    background-position: center; 
    position: absolute; 
    opacity: 0.2;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
    filter: grayscale();
} 