@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Darker Grotesque' sans-serif;
}

body{
    background-color: black;
}

::selection{
    color: black;
    background-color: white;
}

.sponsors a{
    color: #b90e0a;
    cursor: default;
}

.sponsors span{
    color: white;
    text-decoration: double;
    text-shadow: 1px 1px #b90e0a;
}

.sponsor-vid { 
    background-image: url(sponsor\ wall\ new.gif); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: absolute; 
    opacity: 0.2;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
} 

.footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    right: 50%;
}