body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #E0E0E0;
}
.login-container {
    background-color: #1E1E1E;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: flexbox;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    color: #E0E0E0;
    font-family: 'Verdana', sans-serif;
}
.login-container label {
    display: flex;
    margin: 5px 0;
    color: #E0E0E0;
}
.login-container input[type="text"], .login-container input[type="password"] {
    width: 93%;
    padding: 8px;
    margin: 2px 10px 7px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2E2E2E;
    color: #26cc00;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    cursor: pointer;
}

.login-container input[type="submit"] {
    width: 46%;
    padding: 10px;
    margin: 7px 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.login-container .signup, .login-container .google-signin {
    display: flex;
    justify-content: center;
}

.login-container a, .login-container button {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.google-button {
    cursor: pointer;
}

.login-container a.signup-link {
    background-color: #2196F3;
}

.login-container a.signup-link:hover {
    background-color: #1976D2;
}

.login-container button.google-button {
    background-color: #db4a39;
    border: none;
}

.login-container button.google-button:hover {
    background-color: #c23321;
}

.login-mail {
    color: #25cc00;
}

.redirect-buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.go-to-flag, .logout {
    display: flex;
    width: 120px;
    margin: 15px;
    padding: 12px;
    color: white;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #25cc00b3;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.go-to-flag:hover, .logout:hover {
    background-color: #25cc009c;
    border: black;
}

.go-to-flag:active, .logout:active {
    background-color: #25cc005c;
}