@keyframes dropIn {
    0% {
        display: none;
        top: -50px;
        opacity: 0;
    }
    10% {
        opacity: 1;
        display: block;
        top: 50px;
    }
    80% {
        opacity: 0.7;
        top: 50px;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #E0E0E0;
}
.login-container {
    background-color: #1E1E1E;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: flexbox;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
}

.final-warning {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    padding: 7px;
    flex-direction: column;
}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.login-container label {
    display: flex;
    margin: 5px 0;
    color: #E0E0E0;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 93%;
    padding: 8px;
    margin: 2px 10px 7px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2E2E2E;
    color: #26cc00;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    color: white;
}

.signin, .signup {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #25cc00b3;
    transition: all 0.4s ease;
    color: white;
}

.signin:hover, .signup:hover {
    background-color: #25cc00b3;
    border: 1px solid transparent;
}

.login-container input[type="submit"] {
    width: 46%;
    padding: 10px;
    margin: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.login-container .signup, .login-container .google-signin {
    display: flex;
    justify-content: center;
    color: white;
}

.login-container a, .login-container button {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

.google-button {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid rgba(231, 31, 31, 0.736);
    color: white;
    transition: all 0.4s ease;
}

.google-button:hover {
    background-color: rgba(231, 31, 31, 0.736);
    border: 1px solid transparent;
}

.login-mail {
    color: #25cc00;
}

.redirect-buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.go-to-flag, .logout, .back-to-home {
    display: flex;
    width: 120px;
    margin: 15px;
    padding: 12px;
    color: white;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #25cc00b3;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
    user-select: none;
}

.go-to-flag:hover, .logout:hover, .back-to-home:hover {
    background-color: #25cc009c;
    border: black;
}

.go-to-flag:active, .logout:active, .back-to-home:active {
    background-color: #25cc005c;
}

.back-to-home {
    display: none;
    float: right;
    right: 20px;
    position: absolute;
    width: 150px;
    top: 20px;
    font-style: italic;
}

.alert-box {
    box-sizing: border-box;
    padding: 15px;
    font-size: 1rem;
    background-color: #25cc0063;
    color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    font-weight: 600;
    text-align: center;
    animation: dropIn 2.2s ease;
}

.disappear {
    display: none;
}

.forgot-pass {
    text-align: left;
    margin-top: 12px;
    color: #25cc00e0;
    text-decoration: underline;
    cursor: pointer;
}

* {
    font-family: monospace;
}