<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 The next flag is on the "hidden" page which has the "flag"</title>
    <script src="https://kit.fontawesome.com/0ba230c8bd.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/misc-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/scroller.css">
    <link rel="stylesheet" href="/static/404.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/loader.css">
    <link rel="stylesheet" href="/static/responsive.css">
</head>
<body>
    <div class="oh-no">Oh, no!
        <p style="display: flex; color: black;">FLAG{E13312}</p>
    </div>
    <div class="error-msg">Looks like you've been misc-rolled</div>
    <div class="correct-link">Proceed to the actual website <form action="/"><button class="redirect-button" type="submit">here</button></form></div>
</body>
</html>