<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag Submission</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/flag-sub.css">
    <link rel="stylesheet" href="/static/scroller.css">
    <script src="https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.3/firebase-firestore.js"></script>
    <script defer type="module" src="/static/flag-sub.js"></script>
</head>
<body>
    <div class="logout" id="logout">$logout</div>
    <div class="popup hidden" id="popup">
        <div class="popup-text">
            <p>You just found a flag worth <span id="points"></span> points.</p>
            <p>Would you like to keep it or risk it all for a chance to 2x those points?</p>
        </div>
        <div class="popup-btns">
            <div class="keep-btn" id="keep-btn">Keep</div>
            <div class="toss-btn" id="toss-btn">Risk</div>
        </div>
    </div>
    <div class="coinbox hidden" id="coinbox">
        <div class="coin-text">
            You only win if it lands on heads :)
        </div>
        <div class="coin" id="coin">
            <div class="front-side" id="front-side">???</div>
        </div>
    </div>
    <main class="flag-hero">
        <header>
            <h1>Flag Fortress</h1>
        </header>
        <div id="login-redirect" class="hidden">
            <p>Please <a href="login" class="login-link">log in</a> to submit a flag.</p>
        </div>
        <div id="coming-soon" class="flag-box">
            <h3>Submit Your Flag</h3>
            <form id="flag-form">
                <input type="text" id="flag-input" placeholder="Enter your flag" autocomplete="off" autofocus>
                <button id="flag-button" class="FLAG{E11930}">$submit_flag</button>
            </form>
            <button id="leaderboard-button">$weekly_leaderboard</button>
        </div>
        <footer>
            <p></p>
        </footer>
    </main>
</body>
</html>
