{% extends "layout.html" %}

{% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/leaderboard.css">
    <script type="module" src="/static/leaderboard.js"></script>
    <script src="https://kit.fontawesome.com/0ba230c8bd.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="overlay-warning" id="overlay-warning">
        <div class="guide-title">Leaderboard</div>
        <div class="warning-msg">Here are the top scorers:</div>
    </div>

    <div class="leaderboard-comp">
        <div class="main-guide" id="leaderboard">
            <div class="users" id="users">
                <!-- <div class="user-div" id="user-1"></div>
                <div class="user-div" id="user-2"></div>
                <div class="user-div" id="user-3"></div> -->
            </div>
            <div class="back-to-flag" id="back-to-flag">
                <i class="fa-solid fa-flag fa-2xl"></i>
            </div>
        </div>
    </div>
{% endblock %}