<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="../static/login.js" type="module"></script>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/scroller.css">
</head>
<body>
    <div class="back-to-home" id="home-redirect">$main_website</div>
    <div class="login-container" id="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="John Doe" required>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required placeholder="johndoe@email.com">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="verysecurepassword123">
            <div class="buttons">
                <input type="submit" value="$sign_in" class="signin" id="signin-button">
                <input type="submit" value="$sign_up" class="signup" id = "signup-button">
            </div>
        </form>
        <div class="google-signin">
            <button class="google-button" id="google-signin-button">$google_login</button>
        </div>
    </div>
    <div class="overlay-warning" id="overlay-warning" hidden="hidden">
        <!-- <div class="guide-title">This is the Secret Guide by MISC</div> -->
    
        <!-- <div class="warning-msg">Do not enter, otherwise you might learn the ways of Linux and go on to become a cybersecurity expert.</div> -->
    
        <!-- <div class="enter-command">> <span class="enter-command-text blinking-text">Press "space" to enter</div> -->
    
        <div class="final-warning">You are logged in as <span id="login-mail" class="login-mail"></span></div>
        <div class="redirect-buttons">
            <div class="go-to-flag" id="flag-sub">$submit_flags</div>
            <div class="logout" id="logout">$logout</div>
        </div>
    </div>

</body>
</html>
