{% extends "layout.html" %}

{% block head %}

<title>MISC - Secret Guide</title>
<link rel="stylesheet" href="/static/guide.css">
<script type="module" src="/static/guide-js.js"></script>

{% endblock %}

{% block body %}

<div class="overlay-warning" id="overlay-warning">
    <!-- FLAG{M90... -->
    <div class="guide-title">This is the Secret Guide by MISC</div>

    <div class="warning-msg">Do not enter, otherwise you might learn the ways of Linux and go on to become a cybersecurity expert.</div>

    <div class="enter-command"> <span class="enter-command-text blinking-text">Press "space" to enter</div>

    <div class="final-warning">PROCEED AT YOUR OWN RISK</div>
</div>

<div class="coming-soon" id="coming-soon" hidden="hidden" style="display: none;">
</div>

<div class="login-redirect" id="login-redirect" style="display: none;">
    <!-- <h2>...969}</h2> -->
</div>

<div class="main-guide">
    <div class="counter-div"></div>
    <div class="counter-div"></div>
    <div class="counter-div"></div>
    <div class="counter-div"></div>
    <div class="counter-div"></div>
    <div class="counter-div"></div>
</div>

{% endblock %}

