{% extends "layout.html" %}

{% block head %}

<title>Sponsors | MISC</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="/static/sponsors.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block body %}
<!-- loader -->
<div class="loader-wrapper">
    <span class="loader"><img src="/static/misc-icon.svg" alt=""></span>
</div>
<script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
</script>

<div class="sponsor-box-container">
    <div class="current-sponsors">
        <div class="sponsor-msg">Become a sponsor today! <br><a href="mailto:melb.info.sec.club@gmail.com" class="sponsor-mail"><i class="fa-solid fa-envelope"></i>&nbsp;<span class="mail-txt">melb.info.sec.club@gmail.com</span></a></div>
        <fieldset class="sponsor-box plat" style="display: flex !important;">
            <legend class="sponsor-title plat-title">Platinum</legend>
            <table>
                <a href="https://www.mcgrathnicol.com/" target="_blank"><img src="/static/sponsor-logos/McGrathNicol.png" alt="McGrathNicol" class="sponsor-img plat-img mcgrath"></a>
                <a href="https://www.paloaltonetworks.com/" target="_blank"><img src="/static/sponsor-logos/palo alto white.png" alt="Palo Alto" class="sponsor-img plat-img paloalto"></a>
                <a href="https://pentesterlab.com/" target="_blank"><img src="/static/sponsor-logos/pentesterlab.png" alt="PentesterLab" class="sponsor-img plat-img penlab"></a>
                <a href="https://www.technicalities.com.au/" target="_blank"><img src="/static/sponsor-logos/technicalities.png" alt="technicalities" class="sponsor-img plat-img technicalities"></a>
            </table>
        </fieldset>
        <fieldset class="sponsor-box gold" style="display: flex !important;">
            <legend class="sponsor-title gold-title">Gold</legend>
            <table>
                <a href="https://www.atlassian.com/" target="_blank"><img src="/static/sponsor-logos/atlassian-2022.png" alt="" class="sponsor-img gold-img"></a>
                <!-- <img src="https://via.placeholder.com/250x125" alt="" class="sponsor-img gold-img">
                <img src="https://via.placeholder.com/250x125" alt="" class="sponsor-img gold-img"> -->
            </table>
        </fieldset>
        <fieldset class="sponsor-box silver" style="display: flex !important;">
            <legend class="sponsor-title silver-title">Silver</legend>
            <table>
                <a href="https://www.janestreet.com/" target="_blank"><img src="/static/sponsor-logos/janestreet.png" alt="" class="sponsor-img silver-img"></a>
                <!-- <img src="https://via.placeholder.com/200x100" alt="" class="sponsor-img silver-img">
                <img src="https://via.placeholder.com/200x100" alt="" class="sponsor-img silver-img">
                <img src="https://via.placeholder.com/200x100" alt="" class="sponsor-img silver-img"> -->
            </table>
        </fieldset>
    </div>
    <div class="community-partners">
        <p class="comm-title">Community Partners</p>
        <br>
            <div class="community-logos">
                <img src="/static/comm-partners/carte-crepes.png" alt="carte crepes" class="sponsor-img comm-img">
                <img src="/static/comm-partners/castros.png" alt="castro's kiosk" class="sponsor-img comm-img castros">
                <img src="/static/comm-partners/papparich.png" alt="papparich" class="sponsor-img comm-img papparich">
                <img src="/static/comm-partners/kortpress_logo.png" alt="kortpress" class="sponsor-img comm-img kortpress">
                <img src="/static//comm-partners/promithic.svg" alt="promithic" class="sponsor-img comm-img">
                <img src="/static/comm-partners/e2cyber.png" alt="e2cyber" class="sponsor-img comm-img">
                <img src="/static/comm-partners/letsdev_logo_horizontal_white.png" alt="lets dev" class="sponsor-img comm-img letsdev">
            </div>
    </div>
    <!-- <div class="all-sponsors">
        <fieldset class="sponsor-box all-tier" style="display: flex !important;">
            <legend class="sponsor-title all-title">Past Sponsors</legend>
            <table>
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
                <img src="https://via.placeholder.com/100x50" alt="" class="sponsor-img all-img">
            </table>
        </fieldset>
    </div> -->
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.community-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1200,
            arrows: false,
            infinite: true,
            pauseOnHover: false,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>

{% endblock %}

<!-- loader
<div class="loader-wrapper">
    <span class="loader"><img src="misc-icon.svg" alt=""></span>
</div>
<script>
    $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
    });
</script> -->

<!-- <div class="sponsor-vid container" id="sponsor-vid"></div> -->

<!-- <div class="coming-soon">Coming Soon!</div> -->
